<table>
  <tbody>
  <% farmer.farmer_comments.each do |farmer_comment| %>
    <tr>
      <td><%= link_to(farmer_comment.user) do %>
       <%= image_tag farmer_comment.user.get_profile_image, size:"70x70" %><br>
       <%= farmer_comment.user.name %>
      </td>
      <% end %>
      <td><%= farmer_comment.comment%></td>
      <% if farmer_comment.user == current_user %>
        <td><%= link_to "Destroy", farmer_farmer_comment_path(farmer_comment.farmer, farmer_comment), method: :delete, remote: true,class:"btn btn-danger" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>