<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Introduction</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% farmers.each do |farmer| %>
      <tr>
        <td><%= link_to user_path(farmer.user) do %>
          <%= image_tag farmer.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to farmer.title,farmer %></td>
        <td><%= farmer.body %></td>
        <td class=<%= "favorite-btn-" + farmer.id.to_s %>><%= render 'public/farmers/btn', farmer: farmer %></td>
      </tr>
    <% end %>
  </tbody>
</table>