<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col mx-auto">
     <h2>管理者用 Farmers detail</h2>
      <table class='table'>
        <tbody>
        <tr>
          <td>
            <%= image_tag @farmer.user.get_profile_image, size:"100x100" %><br>
            <%= @farmer.user.name %>
          </td>
          <td><%= @farmer.title %></td>
          <td><%= @farmer.body %></td>
          <td><%= link_to 'Destroy', admin_farmer_path(@farmer), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %></td>
          <td>
            <p>コメント数 : <%= @farmer.farmer_comments.count %></p>
          </td>
        </tr>

        <% @farmer.farmer_comments.each do |farmer_comment| %>
          <tr>
            <td>
              <%= image_tag farmer_comment.user.get_profile_image, size:"100x100" %><br>
              <%= farmer_comment.user.name %>
            </td>
            <td><%= farmer_comment.comment%></td>
            <td><%= link_to "Destroy", admin_farmer_farmer_comment_path(@farmer,farmer_comment.id), method: :delete, data: { confirm: "本当に消しますか？" }, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>