<!DOCTYPE html>
<html>
  <head>
    <title>Farmers +One</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ba686ff40e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Farmers +ONE</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li>
                <%= link_to admin_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> home
                <% end %>
              </li>
              <li>
                <%=  link_to admin_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-users"></i> users
                <% end %>
              </li>
              <li>
                <%=  link_to admin_farmers_path ,class: 'nav-link text-light' do %>
                  <i class="fas fa-seedling"></i> farmers
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> log out
                <% end %>
              </li>
            <% elsif user_signed_in? %>
              <li>
                <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> home
                <% end %>
              </li>
              <li>
                <%=  link_to users_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-users"></i> users
                <% end %>
              </li>
              <li>
                <%=  link_to farmers_path ,class: 'nav-link text-light' do %>
                  <i class="fas fa-seedling"></i> farmers
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> log out
                <% end %>
              </li>
              <!--<form class="d-flex">-->
                <!--<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
              <!--</form>-->
              <%= form_with(url: search_path, method: "get", class: "d-flex") do |f| %>
                <%= f.search_field :search, class: "form-control me-2", placeholder: "Search", aria: { label: "Search" } %>
                <% if @users.present? %>
                  <%= f.hidden_field :key, value: 'users' %>
                <% elsif @farmers.present? %>
                  <%= f.hidden_field :key, value: 'farmers' %>
                <% end %>
                <%= f.submit "Search", class: "btn btn-outline-success", type: "submit" %>
              <% end %>
            <% else %>
              <li>
                <%= link_to root_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> home
                <% end %>
              </li>
              <li>
                <%= link_to about_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-link"></i> about
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> signup
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> login
                <% end %>
              </li>
              <li>
                <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
                  <i class="fas fa-user"></i>ゲストログイン
                <% end %>
             </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
      <main　class="mb-auto">
        <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
